@import 'tailwindcss';
@import '@navikt/ds-css/darkside' layer(components);

@config '../../tailwind.config.ts';

/* Skravert bakgrunn for helgedager */
.bg-stripes {
    background: repeating-linear-gradient(
        123deg,
        var(--ax-border-neutral-subtle),
        var(--ax-border-neutral-subtle) 1px,
        transparent 1px,
        transparent 9px
    );
}

.bg-stripes:hover {
    background: repeating-linear-gradient(
        123deg,
        transparent,
        transparent 1px,
        var(--ax-border-neutral-subtle) 1px,
        var(--ax-border-neutral-subtle) 9px
    );
}

/* Retro tema styling */
.retro-tema {
    font-family:
        'Courier New', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
        monospace;
    --ax-bg-strong: #00fefe !important; /* Sterk rødfarge */
    --ax-text-subtle: #00fefe !important; /* Sterk rødfarge */
}

.retro-tema *,
.retro-tema *::before,
.retro-tema *::after {
    font-family:
        'Courier New', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
        monospace !important;
}
